@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

.bg-main {
  background-image: url("./assets/main.jpg");
  background-size: cover; /* Adjust as needed */
  background-repeat: no-repeat; /* Adjust as needed */
  background-position: center;
}

body {
  @apply text-text1 font-inter text-base leading-8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-text2;
}

.h1 {
  @apply text-4xl/[] font-semibold;
}

.h2 {
  @apply text-3xl xl:text-[44px]/[50px] font-semibold capitalize tracking-[0.44px];
}

.h3 {
  @apply text-xl xl:text-[26px] font-semibold;
}

.h4 {
  @apply text-xl xl:text-[26px] font-semibold capitalize;
}

.btn {
  @apply rounded-full uppercase tracking-wide flex items-center justify-center transition-all;
}

.btn-sm {
  @apply h-14 px-10;
}

.btn-lg {
  @apply py-2 px-8;
}

.btn-accent {
  @apply bg-accent text-white hover:bg-accent-secondary;
}

.btn-white {
  @apply bg-white text-text1 hover:bg-white/90;
}

.btn-outline {
  @apply bg-transparent text-text1 hover:bg-accent hover:border-transparent hover:text-white border-2 border-accent;
}

.input,
.select {
  @apply w-full rounded-lg h-[66px] outline-none border-[#dbdfddf] text-text1 font-light placeholder:font-light placeholder:text-text1;
}

.input {
  @apply px-4;
}

.section {
  @apply py-12 xl:py-[150px];
}

.dropdown-parent .dropdown::before {
  z-index: 100;
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #31b553;
  bottom: -2px;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: right;
}

.dropdown-parent .dropdown:hover::before {
  z-index: 100;
  transform: scaleX(1);
  transform-origin: left;
}
